body {
  background-color: black;
}
h1 {
  font-family: "Libre Baskerville", system-ui;
  text-transform: uppercase;
}
.main {
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
}
.meme {
  border: 5px solid lightblue;
  width: 100%;
}
